<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport"-->
    <!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title>게시판 페이지</title>
</head>

<body>

<!-- Semantic 태그 활용해서 만들기 -->
<header id="header"></header>

<main>
    <!-- 검색창 -->
    <form>
        <!--필터 : 제목, 본문, id, 닉네임, 해시태그-->
        <label for="search-type" hidden>유형</label>
        <select id="search-type" name="search-type">
            <option>제목</option>
            <option>본문</option>
            <option>ID</option>
            <option>닉네임</option>
            <option>해시태그</option>
        </select>
        <label for="search-type" hidden>검색어</label>
        <input id="search-value" type="search" placeholder="검색어..." name="search-value">
        <button type="submit">검색</button>
    </form>

    <!-- 테이블 -->
    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>해시태그</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>첫글</td>
            <td>#java</td>
            <td>youk</td>
            <td>2022-12-05</td>
        </tr>
        <tr>
            <td>두번째글</td>
            <td>#java</td>
            <td>youk</td>
            <td>2022-12-06</td>
        </tr>
        <tr>
            <td>세번째글</td>
            <td>#java</td>
            <td>youk</td>
            <td>2022-12-07</td>
        </tr>
        </tbody>
    </table>

    <!-- 네비게이션 바 -->
    <nav>
        <table>
            <tr>
                <td>previous</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>next</td>
            </tr>
        </table>
    </nav>
</main>

<footer id="footer"></footer>

</body>
</html>